{%  extends 'notes_sharing/admin_navigation.html' %}
{% load static %}
{% block body %}


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">

<script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
</script>

<div class="container mt-5">
    <h2 class="text-center">Assign Status</h2>
    <hr>
    <form method="post">
        {% csrf_token %}
        <label>Notes ID</label>
        <input type="text" name="notesid" class="form-control">
        <label>Status</label>
        <select name="status" class="form-control">
            <option value="Accept">Accept</option>
            <option value="Reject">Reject</option>
        </select>
        <br>
        <input type="submit" value="Submit" class="btn btn-primary form-control">
    </form>
</div>

{% ifequal error "no" %}
<script>
    alert('Status Updated Successfully');
    window.location=('{% url 'all_notes' %}');
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Something Went Wrong, Try Again');
</script>
{% endifequal %}

{% endblock %}
