{%  extends 'notes_sharing/user_navigation.html' %}
{% load static %}
{% block body %}

{% ifequal error "no" %}
<script>
    alert('Password Changed Successfully');
    window.location=('{% url 'logout' %}');
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Something went wrong, Try Again');
</script>
{% endifequal %}


<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <img src="{% static 'images/homepage.jpg' %}" style="width:90%"; height="400px">
        </div>
        <div class="col-sm-6">
            <h2 class="text-center">Change Passsword</h2>
            <hr>
            <form method="post">
                {% csrf_token %}
                <label>Old Password</label>
                <input type="password" class="form-control" placeholder="Old Password" name="old">
                <label>New Password</label>
                <input type="password" class="form-control" placeholder="New Password" name="new">
                <label>Re-enter New Password</label>
                <input type="password" class="form-control" placeholder="Re-enter New Password" name="confirm">
                <input type="submit" class="btn btn-danger mt-2" value="Change">
            </form>
        </div>
    </div>
</div>

{% endblock %}
