{%  extends 'notes_sharing/user_navigation.html' %}
{% load static %}
{% block body %}

<div class="container mt-5">
    <h2 class="text-center">Profile</h2>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <b>Full Name :</b>
        </div>
        <div class="col-md-6" style="text-transform : capitalize">
            {{user.first_name}} {{user.last_name}}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <b>Email Id :</b>
        </div>
        <div class="col-md-6">
            {{user.username}}
        </div>
    </div>
    {% comment %} <hr>
    <div class="row">
        <div class="col-md-6">
            <b>Contact :</b>
        </div>
        <div class="col-md-6">
            {{data.contact}}
        </div>
    </div> {% endcomment %}
    {% comment %} <hr>
    <div class="row">
        <div class="col-md-6">
            <b>Address :</b>
        </div>
        <div class="col-md-6">
            {{data.address}}
        </div>
    </div> {% endcomment %}
    <hr>
    <a href="{% url 'edit_profile' %}" class="btn btn-primary mt-2">Edit Profile</a>
</div>

{% endblock %}